.bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-bg.png');
  background-size: cover;
  min-height: 100vh;
  padding-bottom: 20px;
  list-style-type: none;
  padding-left: 0px;
}

.logo {
  width: 130px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  padding-left: 5%;
  padding-right: 5%;
  /* padding-top: 0px;
  padding-bottom: 0px; */
  background-color: #2c0e3a;
}

.header-right-container {
  display: flex;
  align-items: center;
}

.header-right-container > p {
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
}

.header-right-container > p > span {
  color: #fec653;
}

.timer-container {
  display: flex;
  align-items: center;
  margin-left: 18px;
}

.timer-container > p {
  font-weight: 500;
  color: #fec653;
}

.timer {
  width: 20px;
  height: 20px;
  margin-right: 7px;
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.match-container {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.match-img {
  width: 100%;
  max-width: 600px;
  border-radius: 5px;
}

.tabs-list {
  list-style-type: none;
  padding-left: 0px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.thumbnails-list {
  list-style-type: none;
  padding-left: 0px;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 600px;
}

.game-over-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  min-height: 80vh;
}

.score-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 307px;
  height: 500px;
  background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-score-card-sm-bg.png');
  background-size: cover;
}

.trophy {
  width: 90%;
  margin-top: 80px;
}

.score-title {
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  margin: 0px;
  margin-top: 10px;
}

.score-val {
  color: #ffffff;
  font-size: 35px;
  font-weight: 500;
  margin: 0px;
  margin-top: 10px;
}

.play-again-btn {
  background-color: #f318e4;
  display: flex;
  align-items: center;
  height: 40px;
  color: #ffffff;
  font-size: 12px;
  border: none;
  border-radius: 7px;
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 0px;
  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.play-again-btn > img {
  margin-right: 7px;
}
