.thumbnail-item {
  width: 70px;
  height: 70px;
  margin: 5px;
  margin-bottom: 10px;
}

.thumbnail-btn {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  outline: none;
}

.thumbnail-img {
  width: 70px;
  height: 70px;
}
